 
  font-size: 24px;
}
p.red {
    color: red;
}
p.red {
    color: red;
}
p.bold{
    font-style: bold;
}
p.bold {
    font-weight: bold;
}
li.green {
    color: green;
}
li.red {
    color: red;
}
li.blue {
    color:blue;
}
li.purple {
    color:purple;
}
span.xxsmall {
    font-size: 8px;
}
span.xsmall {
    font-size: 12px;
}
span.small {
    font-size: 14px;
}
span.medium {
    font-size: 18px;
}
span.large {
    font-size: 40px;
}
span.xlarge {
    font-size: 33px;
}
span.xxlarge {
    font-size: 65px;
}